@model IEnumerable<Lexicon_LMS.Models.Activity>
    <h4>Kommande inlämningar</h4>
            @foreach (var item in Model)
            {
                if (item.ActivityType.Name == "Inlämningsuppgift"&& DateTime.Now.CompareTo(item.Deadline)<0)
                {
                    <div class="well">
                        @Html.DisplayFor(modelItem => item.ActivityType.Name)
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </div>
                }

            }
<h4>Gamla Inlämningar</h4>
@foreach (var item in Model)
{
    if (item.ActivityType.Name == "Inlämningsuppgift" && DateTime.Now.CompareTo(item.Deadline) >0)
    {
        <div class="well">
            @Html.DisplayFor(modelItem => item.ActivityType.Name)
            @Html.DisplayFor(modelItem => item.Deadline)
        </div>
    }

}


